/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: #CACACA;
}

header {
    background-color: #1C1C1C;
    padding: 15px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #CACACA;
    font-size: 1.2em;
}

.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #3C3C3C;
    text-align: center;
}

.auth-container h1 {
    color: #fff;
    margin-bottom: 20px;
}

.auth-container input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: 1em;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #CACACA;
    color: #1C1C1C;
}
